<% layout("layouts/boilerplate.ejs") %>
<body>
    <!-- <h2>:</h2>
    <form action="/listing/<%= listing._id %>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br><br>
        <textarea  name="listing[description]" value="<%= listing.description %>"></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%= listing.image %>">
        <br><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>">
        <br><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>">
        <br><br>
        <input type="text" name="listing[country]" value="<%= listing.location %>">
        <br><br>
        <button>Edit</button>
    </form> -->

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2>Edit Your Listing:</h2>
            <form action="/listing/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="tittle" class="form-label">Tittle</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="invalid-feedback">Please Enter Title!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea  name="listing[description]"  class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please Enter Description!</div>
                </div>
                <div class="mb-3">
                    <p>Original Image</p>
                    <img src="<%= originalImageUrl %>" alt="img">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image]"  class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                    <div class="invalid-feedback">Please Enter Price!</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                        <div class="invalid-feedback">Please Enter Location!</div>
                    </div>
                    <div class="mb-3 col-md-4" >
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%= listing.location %>" class="form-control" required>
                        <div class="invalid-feedback">Please Enter Country!</div>
                    </div>    
                </div>
                <button class="btn btn-danger">Save</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
